body {
  
  font-size: 16px;  
  font-family: "Raleway", sans-serif;
  background-color: #dae0e6;
}

.colFont {
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  width: 300px;
}
.contenairMessage {
  /*width:400px;*/
}

.ajouteComment {
  height: 60px;
  border-color: transparent;
}

.containerLogin {
  width: 30%;
}
h1 {
  font-weight: 900;
  text-align: center;
  font-size: 18px;
  width: 100%;
  opacity: 1;
}

h2 {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.containerLogin {
  background-color: snow;
  max-width: 600px;
  min-width: 350px;
}

.form-groups {
  width: 90%;
}
.list-group {
  border: rgb(135, 138, 140);
}

.btn {
  width: 150px;
}
.btnPoster {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  border: 1px solid rgb(204, 204, 204);
  border-left: 0;
  color: #000;
  padding: 5px;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  font-weight: 700;
}
.btn1 {
  width: 70px;
}
.btn:hover {
  opacity: 0.5;
  box-shadow: 0px 2px 6px 1px #0b051a;
  color: black;
}

.contenairMsgCmt {
  width: 400px;
}
.contenairMsg {
  width: 330px;
}
.card {
  border-radius: 20px;
 
}

.parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.inputFile {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}
.btn-upload {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 6px;
  border-radius: 10px; 
  font-weight: 700;
}

form {
  
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}
.ulMessage {
 
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}
section{
  max-width: 400px;
}

/************************************************publication**********************************************/

/************************************************publication**********************************************/

/*











.containerFrom{
    width:600px;
}
.btnInscription{
    width: 80px;
    text-align: center;
}
.btn{   
    border:none;
    border-radius: 20px;    
    background:linear-gradient(rgb(34, 185, 21),#69145b );
    padding: 5px; 
    margin-top: 20px; 
    
} 
.btn:hover{              
        opacity: 0.8;
        box-shadow: 0px 2px 6px 1px #727171;        
}  

--------------------le header----------------------------

.navbar-nav{
    width: 150px;
}
.icone_panier{
    font-size: 80px;
    color: white;
}
.imageTitre{
    width: 100%;
    object-fit: cover;
    position: relative; z-index: -1;
}
h1{
    
    font-weight: 900;
    text-align: center;
    font-size: 25px;
    font-family: "Shrikhand", sans-serif;
    width: 100%;
    color: #ffffff;
}

.titreH2, .logo, .titrePanier{
    font-size: 25px;
    font-family: "Shrikhand", sans-serif;
}
    
---------------------------fin header------------------------------
---------------------------debut bloc carte----------------------------



.card-title{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.card-img-top{    
    border-radius: 20px 20px 0 0;
    height:15rem;

}
.imageCameras{
    width: 100%;    
    object-fit: cover;
}

.card-body{
    border-radius:0 0 20px 20px ;
    background-color: rgb(238, 230, 230);
}

.bi{
    font-size: 20px;
    background-color: transparent;
   
}
.list-inline {
    width: 300px;
    

}

--------------------------------page 2---------------------------------------------


.carte-Produit{
    min-height: 750px;
    width : 90%;
    max-width: 35rem;
    border-radius: 20px;
    background-color: rgb(209, 209, 209);
}
.ficheProduit{
    height: 300px;
    width: auto;
      
}
.card-img-produit{
    width: auto;
    
}
    
.imageProduit{
    border-radius: 20px 20px 0 0;    
    width:100% ;
    object-fit: cover;
    height: 20rem;
}


 

.selectTaille{
    width: 20rem;
    
}

.btn{
    width: 160px;
}
****************************************page3*********************************




.commentMessage{
    width: 40%;
}
.form-groups{
    min-width:70%;
   
}
****************************************************page3*************************
.recapulatif{
    width: 100%;
    max-width: 600px;
    font-weight: 600;
    font-size: 18px;
    background-color: white;
    border-radius: 40px;

}
.idenCommande{
    color: rgb(43, 10, 105);
    
}
*/
