.contenairLogo{
    width:200px ;
}

.nav-link:hover{   
    border-bottom: 2px solid red;
    
    padding-bottom: 5px;
    text-decoration-color: red;
     
} 
.nav-link{
    font-size: 18px;
    font-family:  sans-serif;
} 
i{
 color: red;
}